
{% extends 'user/user_header.html' %}

{% block content %}
    <div class="layui-body layui-container">
        <div class="product-body">

                <div class="row product-list product-detail">

                    <div class="col-12 mt-4 mb-4">
                        <div class="row no-gutters product-all-details">

                            <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">

                                <a class="col-12 nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                   role="tab"
                                   aria-controls="home" aria-selected="true">读者来信</a>

                            </ul>
                            <div class="col-12 tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <p class="product-tab-description text-center text-lg-left">


    我写这封信来感谢您和您的团队所提供的优质服务。作为一名学生，我时常需要查找相关的学术资料和书籍，而您们提供的电子图书馆是我的首选。通过您们提供的方便的搜索工具和丰富的资源，我能够快速地找到我需要的信息，这让我在学习中受益匪浅。

同时，我也要赞扬您们的技术团队，他们不断升级和改进电子图书馆的功能和用户体验，使得我和其他读者可以更加轻松地使用这个平台。

再次感谢您们的辛勤工作和奉献精神，我相信您们的服务会继续为更多的读者带来便利和帮助。</p>
                                </div>
                            </div>

                                                       <div class="col-12 tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <p class="product-tab-description text-center text-lg-left">我写这封信来感谢您和您的团队所提供的优质服务。作为一名经常使用电子图书馆的读者，我想表达一下对您们的满意和感激。

首先，我要感谢您们提供的丰富的电子书籍资源，包括各种类型的图书、期刊和报纸。这些资源让我能够更加方便地查找和获取我需要的信息，而且节省了很多时间和精力。

其次，我要赞扬您们提供的便捷的借阅和归还系统。通过您们提供的简单易用的界面和操作流程，我能够更加轻松地借阅和归还电子书籍，而且避免了纸质书籍所带来的麻烦和费用。

最后，我要感谢您们提供的专业的技术支持和客户服务。每当我遇到问题或者有疑问的时候，您们总是能够及时地给出答案和帮助，让我感受到了您们的专业和贴心。

再次感谢您们为读者提供的优质服务和贡献，我相信您们的服务将会继续为更多的读者带来便利和帮助。</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

        </div>
    </div>
{% endblock %}




