
{% extends 'user/user_header.html' %}

{% block content %}
    <div class="layui-body layui-container">
        <div class="product-body">

            <div class="row product-list product-detail">

                <div class="col-12 mt-4 mb-4">
                    <div class="row no-gutters product-all-details">

                        <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">

                            <a class="col-12 nav-link active" id="home-tab" data-toggle="tab" href="#home"
                               role="tab"
                               aria-controls="home" aria-selected="true">公告</a>

                        </ul>
                        <div class="col-12 tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p class="product-tab-description text-center text-lg-left">


                                   ﻿﻿一、外借图书
1、读者凭本人校园卡、借书证可借阅图书10-60册，一般图书借阅期限为一个月，可续借五次（详见《借阅数量表》）；各借书处或阅览室如公布有特殊规定，则遵照各处、室规定执行。

2、某种图书如可借复本已全部借出，读者可直接在网上办理图书预约请求。

3、如读者所借图书已经到期仍需继续使用，在该书无其他读者预约的情况下，又未因其他原因而被停止借书权时，均可自行在网上续借。

4、借阅图书如有问题可到各咨询台及借、还书处请求帮助。

5、图书过期、遗失、损坏等，均按《北京大学图书馆对于读者借阅过期、遗失和损坏书刊的规定》执行。

二、馆内阅览
1、读者凭本人校园卡、借书证或阅览证可以在阅览室内阅览书刊。

2、读者未办借阅手续，不得擅自将书刊携出阅览室外，否则按偷窃书刊处理。

3、阅览室内开架书刊，按需阅取，阅毕请按阅览室规定放到指定位置。

4、读者须遵守《北京大学图书馆入馆注意事项》，保持文明的阅览环境。

三、馆际互借
1、本校读者（限教师、研究生）需要向与本馆有馆际互借关系的图书馆借书，可到本馆馆际互借中心办理相关手续。

2、与本馆有馆际互借关系的图书馆借阅本馆图书，可派人凭馆际借书证及本人有效证件到本馆相关借阅处（室）办理借书手续。

3、凭馆际互借证借阅的图书不能按期归还或丢失，由该证所属图书馆负责赔偿。

四、非本馆读者借书
非本馆读者因承担科研项目或其它需要利用本馆藏书的读者，按《北京大学校外读者接待办法》接待。

五、特殊书刊的借阅
特殊文献的借阅请参见主页或各阅览室的具体规定。</p>
                            </div>
                        </div>

                        <div class="col-12 tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p class="product-tab-description text-center text-lg-left">

                                    </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
